@use '../../scss/' as *;

.detail {
    display: grid;
    grid-template-columns: 550px 1fr;
    margin-top: 125px;
    margin-bottom: 100px;

    @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 550px 1fr;
    }

    .left {
        display: flex;
        gap: 20px;

        @include tablet {
            justify-content: center;
        }

        @include mobile {
            display: block;
        }

        .images {
            width: 20%;

            @include mobile {
                display: none;
            }

            #first {
                padding-bottom: 10px;
            }
        }

        .mainImg {

            #third {
                display: block;

                @include mobile {
                    display: none;
                }
            }
            .showSm {
                display: none;

                @include mobile {
                    display: block;
                    position: absolute;
                    top: 150px;
                }
                @include mobileSm {
                    display: block;
                    position: absolute;
                    top: 150px;
                    width: 85%;
                }
            }
            .hideSm {
                display: none;

                @include mobile {
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top: 150px;
                }
                @include mobileSm {
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top: 150px;
                    width: 85%;
                }
            }
        }
    }

    .right {
        .content {
            h2 {
                font-weight: 500;
                font-size: 40px;
                padding-bottom: 10px;

                @include mobile {
                    font-size: 25px;
                }
            }

            h4 {
                font-weight: 300;
                font-size: 20px;
                margin-bottom: 10px;

                @include mobile {
                    font-size: 15px;
                }
            }

            h3 {
                font-weight: bold;
                font-size: 20px;
                color: $main-color;
                margin-bottom: 10px;

                @include mobile {
                    font-size: 16px;
                }
            }
        }

        h2 {
            font-size: 18px;
        }

        .size {
            background: white;
            text-align: center;
            margin-bottom: 10px;

            div {
                padding-top: 25px;
                padding-bottom: 25px;

                input[type="radio"] {
                    display: none;
                }

                label {
                    padding: 10px 30px;
                    margin-right: 7px;
                    border: 2px solid black;
                    width: 18%;
                    font-weight: 500;
                    cursor: pointer;

                    @include mobile {
                        padding: 8px 26px;
                    }
                }

                input[type="radio"]:checked+label {
                    background-color: $main-color;
                }
            }
        }

        .btn {

            .quantity {
                border: 2px solid;
                width: 130px;
                text-align: center;
                margin-bottom: 25px;

                @include mobile {
                    width: 108px;
                }

                button {
                    padding: 10px 20px;
                    font-size: 20px;

                    @include mobile {
                        padding: 8px 18px;
                    }
                }
            }

            .btnFlex {
                display: flex;
                align-items: center;
                margin-bottom: 25px;

                .addCart {
                    padding: 12px 120px;
                    background: $text-color;
                    color: white;
                    font-weight: 500;
                    transition: .2s ease-out;

                    @include mobile {
                        padding: 10px 90px;
                    }
                    @include mobileSm {
                        padding: 10px 84px;
                    }

                    &:hover {
                        background: $main-color;
                    }
                }
                .fav {
                    padding-left: 12px;
                }
            }
            .desc {
                h2 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                p {
                    font-weight: 500;
                    font-size: 15px;

                    @include mobile {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}