@mixin flex($align-items,$justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}
@mixin firstOverlay {
    background-color: rgba($color: #000000, $alpha: 0.6);
}
@mixin secondOverlay {
    background-color: rgba($color: #D19F9C, $alpha: 0.5);
}