$body-bg: #fff;
$text-color: #000;
$main-color: #D19F9C;

$box-shadow: rgba(100,100,111,0.4) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 4rem;
$border-radius-first: 30px;
$border-radius-second: 50px;
/*medai responsive*/
$mobileSm-width: 390px !default;
$mobile-width: 600px !default;
$tablet-width: 1024px !default;
/* font */
$font-family:  'Work Sans', sans-serif;

