@use "../../scss/" as *;

.mySwiper {

    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $main-color;
        opacity: 1;
    }

    .swiper-slide {
        background-position: 50% 25%;
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 70vh;
        position: relative;

        @include tablet {
            background-size: cover;
            min-height: 41vh;
        }

        @include mobile {
            background-position: 52%;
            background-size: cover;
            min-height: 42vh;
        }

        @include mobileSm {
            background-position: 52%;
            background-size: cover;
            min-height: 47vh;
        }

        .content {
            h2 {
                position: absolute;
                top: 60px;
                left: 15%;
                width: 51%;
                color: $body-bg;
                font-size: 60px;
                letter-spacing: 2px;
                font-weight: 500;
    
                @include tablet {
                    top: 40px;
                    width: 60%;
                    font-size: 45px;
                }
                @include mobile{
                    font-size: 28px;
                    width: 250px;
                    left: 10%;
                }
            }
    
            p {
                position: absolute;
                top: 230px;
                left: 25%;
                color: $text-color;
                font-size: 15px;
                letter-spacing: 2px;
                font-weight: 400;
    
                @include tablet {
                    top: 240px;
                    left: 23%;
                }
                @include mobile{
                    font-size: 11px;
                    top: 170px;
                }
            }
    
            a {
                z-index: 99;
                position: absolute;
                top: 300px;
                left: 65%;
                padding: 5px 30px;
                border-radius: 20px;
                color: $body-bg;
                font-weight: 400;
                font-size: 18px;
                background-color: transparent;
                border: 2px solid $body-bg;
    
                
                @include mobile{
                    padding: 5px 20px;
                    left: 65%;
                    top: 250px;
                    font-size: 11px;
                }
    
                &::before {
                    content: "";
                    @include secondOverlay;
    
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    z-index: -1;
                    transform: scaleX(0);
                    position: absolute;
                    transition: transform .5s ease;
                }
    
                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }
}